In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/Clean_Dataset.csv")

In [ ]:
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [ ]:
print(df.airline.value_counts())

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [ ]:
print(df.source_city.value_counts())

source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64

In [ ]:
print(df.destination_city.value_counts())

destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64

In [ ]:
print(df.departure_time.value_counts())

departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64

In [ ]:
print(df.arrival_time.value_counts())

arrival_time
Night            91538
Evening          78323
Morning          62735
Afternoon        38139
Early_Morning    15417
Late_Night       14001
Name: count, dtype: int64

In [ ]:
print(df.stops.value_counts())

stops
one            250863
zero            36004
two_or_more     13286
Name: count, dtype: int64

In [ ]:
print(df['class'].value_counts())

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [ ]:
print(df.duration.min())

0.83

In [ ]:
print(df.duration.max())

49.83

In [ ]:
print(df.duration.median())

11.25

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

# **Data Preprocessing**

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.drop('flight', axis=1, inplace=True)

**Label Encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()
df['class'] = label_encoder.fit_transform(df['class'])

In [ ]:
df['stops'] = pd.factorize(df.stops)[0]

In [ ]:
df.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Night,Mumbai,1,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Morning,Mumbai,1,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Early_Morning,Mumbai,1,2.17,1,5956
3,Vistara,Delhi,Morning,0,Afternoon,Mumbai,1,2.25,1,5955
4,Vistara,Delhi,Morning,0,Morning,Mumbai,1,2.33,1,5955

In [ ]:
df.tail()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
300148,Vistara,Chennai,Morning,1,Evening,Hyderabad,0,10.08,49,69265
300149,Vistara,Chennai,Afternoon,1,Night,Hyderabad,0,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,1,Night,Hyderabad,0,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,1,Evening,Hyderabad,0,10.00,49,81585
300152,Vistara,Chennai,Morning,1,Evening,Hyderabad,0,10.08,49,81585

In [ ]:
df['class'].value_counts()

class
1    206666
0     93487
Name: count, dtype: int64

In [ ]:
df['class'] = df['class'].apply(lambda x: 1 if x == 0 else 0)

In [ ]:
df

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Night,Mumbai,0,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Morning,Mumbai,0,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Early_Morning,Mumbai,0,2.17,1,5956
3,Vistara,Delhi,Morning,0,Afternoon,Mumbai,0,2.25,1,5955
4,Vistara,Delhi,Morning,0,Morning,Mumbai,0,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,69265
300149,Vistara,Chennai,Afternoon,1,Night,Hyderabad,1,10.42,49,77105
300150,Vistara,Chennai,Early_Morning,1,Night,Hyderabad,1,13.83,49,79099
300151,Vistara,Chennai,Early_Morning,1,Evening,Hyderabad,1,10.00,49,81585
300152,Vistara,Chennai,Morning,1,Evening,Hyderabad,1,10.08,49,81585

**One Hot Encoding**

In [ ]:
# df = df.join(pd.get_dummies(df.airline, prefix = 'airline')).drop('airline', axis = 1)

AttributeError: 'DataFrame' object has no attribute 'airline'

In [ ]:
df = df.join(pd.get_dummies(df.source_city, prefix = 'source')).drop('source_city', axis = 1)
df = df.join(pd.get_dummies(df.destination_city, prefix = 'dest')).drop('destination_city', axis = 1)
df = df.join(pd.get_dummies(df.arrival_time, prefix = 'arrival')).drop('arrival_time', axis = 1)
df = df.join(pd.get_dummies(df.departure_time, prefix = 'departure')).drop('departure_time', axis = 1)

In [ ]:
df

,stops,class,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,...,arrival_Evening,arrival_Late_Night,arrival_Morning,arrival_Night,departure_Afternoon,departure_Early_Morning,departure_Evening,departure_Late_Night,departure_Morning,departure_Night
0,0,0,2.17,1,5953,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False
1,0,0,2.33,1,5953,False,False,False,False,True,...,False,False,True,False,False,True,False,False,False,False
2,0,0,2.17,1,5956,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,0,0,2.25,1,5955,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,0,0,2.33,1,5955,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,1,1,10.08,49,69265,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
300149,1,1,10.42,49,77105,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
300150,1,1,13.83,49,79099,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
300151,1,1,10.00,49,81585,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
300152,1,1,10.08,49,81585,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   stops                    300153 non-null  int64
 1   class                    300153 non-null  int64
 2   duration                 300153 non-null  float64
 3   days_left                300153 non-null  int64
 4   price                    300153 non-null  int64
 5   airline_AirAsia          300153 non-null  bool
 6   airline_Air_India        300153 non-null  bool
 7   airline_GO_FIRST         300153 non-null  bool
 8   airline_Indigo           300153 non-null  bool
 9   airline_SpiceJet         300153 non-null  bool
 10  airline_Vistara          300153 non-null  bool
 11  source_Bangalore         300153 non-null  bool
 12  source_Chennai           300153 non-null  bool
 13  source_Delhi             300153 non-null  bool
 14  source_Hyderabad         300153 non-null  bool
 15  source_Kolkata           300153 non-null  bool
 16  source_Mumbai            300153 non-null  bool
 17  dest_Bangalore           300153 non-null  bool
 18  dest_Chennai             300153 non-null  bool
 19  dest_Delhi               300153 non-null  bool
 20  dest_Hyderabad           300153 non-null  bool
 21  dest_Kolkata             300153 non-null  bool
 22  dest_Mumbai              300153 non-null  bool
 23  arrival_Afternoon        300153 non-null  bool
 24  arrival_Early_Morning    300153 non-null  bool
 25  arrival_Evening          300153 non-null  bool
 26  arrival_Late_Night       300153 non-null  bool
 27  arrival_Morning          300153 non-null  bool
 28  arrival_Night            300153 non-null  bool
 29  departure_Afternoon      300153 non-null  bool
 30  departure_Early_Morning  300153 non-null  bool
 31  departure_Evening        300153 non-null  bool
 32  departure_Late_Night     300153 non-null  bool
 33  departure_Morning        300153 non-null  bool
 34  departure_Night          300153 non-null  bool
dtypes: bool(30), float64(1), int64(4)
memory usage: 20.0 MB

In [ ]:
df.to_csv('preprocessed_data.csv', index=False)